In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("Q7 (1).csv")

In [5]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [19]:
print("Mean of Points -> ",np.mean(df["Points"]))
print("Mean of Score -> ",np.mean(df["Score"]))
print("Mean of Weight -> ",np.mean(df["Weigh"]))

Mean of Points ->  3.5965625
Mean of Score ->  3.2172500000000004
Mean of Weight ->  17.848750000000003

In [21]:
print("Median of Points -> ",np.median(df["Points"]))
print("Median of Score -> ",np.median(df["Score"]))
print("Median of Weight -> ",np.median(df["Weigh"]))

Median of Points ->  3.6950000000000003
Median of Score ->  3.325
Median of Weight ->  17.71

In [26]:
print("Mode of points->",df["Points"].mode())
print("Mode of Score ->",df["Score"].mode())
print("Mode of Weight->",df["Weigh"].mode())

Mode of points-> 0    3.07
1    3.92
Name: Points, dtype: float64
Mode of Score -> 0    3.44
Name: Score, dtype: float64
Mode of Weight-> 0    17.02
1    18.90
Name: Weigh, dtype: float64

In [29]:
print("Sd of points->",df["Points"].std())
print("sd of Score->",df["Score"].std())
print("sd of Weight->",df["Weigh"].std())

Sd of points-> 0.5346787360709716
sd of Score-> 0.9784574429896967
sd of Weight-> 1.7869432360968431

In [30]:
print("variance of points->",df["Points"].var())
print("variance of score->",df["Score"].var())
print("Variance of Weight->",df["Weigh"].var())

variance of points-> 0.28588135080645166
variance of score-> 0.9573789677419356
Variance of Weight-> 3.193166129032258

In [37]:
print("Range of Points",df["Points"].min() , "-" , df["Points"].max())
print("Range of Score",df["Score"].min()  , "-" , df["Score"].max())
print("Range of Weight",df["Weigh"].min()  , "-" , df["Weigh"].max())

Range of Points 2.76 - 4.93
Range of Score 1.513 - 5.424
Range of Weight 14.5 - 22.9

In [ ]:
#Points or weights  are bimodal data 
# For all 3 Mean, Mode , Median  is nearly  same so data is Normal distributed...........