In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
df=pd.read_csv("Cars (1).csv")

In [9]:
df.sample(5)

     HP        MPG  VOL          SP         WT
8    62  46.716554   50  102.598513  16.359484
51  115  29.629936  101  118.288996  33.436711
50  115  29.629936  101  118.288996  33.213954
60  145  27.354265  111  130.208698  36.888153
75  175  18.762837  129  132.864163  42.778219

In [7]:
mpg = df["MPG"]

In [8]:
mean = mpg.mean()
std = mpg.std()

In [10]:
nd = stats.norm(mean,std)

In [13]:
mean , std

(34.42207572802469, 9.131444731795982)

In [12]:
# P(MPG > 38)

In [16]:
(1 - nd.cdf(38))*100

34.75939251582714

In [17]:
#p(MPG < 40)

In [18]:
nd.cdf(40)*100

72.93498762151609

In [24]:
zero_to_50 = nd.cdf(50)*100

In [26]:
zero_to_20 = nd.cdf(20)*100

In [28]:
twenty_to_50 = zero_to_50 - zero_to_20

In [29]:
twenty_to_50

89.88689169682047