In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
from scipy.stats import shapiro

In [6]:
df=pd.read_csv("wc-at (1).csv")

In [8]:
df.head()

   Waist     AT
0  74.75  25.72
1  72.60  25.89
2  81.80  42.60
3  83.95  42.80
4  74.65  29.84

In [9]:
df.sample(5)

    Waist     AT
0   74.75  25.72
12  73.10  38.21
20  76.85  36.60
40  83.50  73.13
48  79.70  65.92

In [10]:
waist=df["Waist"]

In [11]:
waist

0       74.75
1       72.60
2       81.80
3       83.95
4       74.65
        ...
104    100.10
105     93.30
106    101.80
107    107.90
108    108.50
Name: Waist, Length: 109, dtype: float64

In [12]:
sts , p_val = shapiro(waist)

In [13]:
alpha=0.05

In [14]:
if(alpha < p_val) :
    print("Normal Distribution")
else :
    print("Not Normal Distribution")

Not Normal Distribution

In [15]:
at=df["AT"]

In [17]:
sts , p_val = shapiro(at)

In [18]:
alpha=0.05

In [19]:
if(alpha <p_val):
    print("Data is Normal Distribution")
else:
    print("Data is Not Normal Distribution")

Data is Not Normal Distribution