In [3]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from scipy.stats import shapiro

In [5]:
df=pd.read_csv("Cars (1).csv")

In [7]:
df.sample(5)

     HP        MPG  VOL          SP         WT
40   95  35.152727  113  116.392639  37.392524
4    53  50.504232   92  104.461264  29.889149
39  130  31.014131   92  128.461264  30.115434
26   92  38.411003  117  120.760520  38.062823
67  165  23.103172  127  133.680223  41.573975

In [11]:
 Mpg=df["MPG"]

In [13]:
Mpg

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [19]:
sts , p_val = shapiro(Mpg)

In [24]:
alpha = 0.05

In [26]:
if(alpha < p_val) :
    print("Normal Distribution")
else :
    print("Not Normal Distribution")

Normal Distribution