In [15]:
import pandas as pd 
import numpy as np 
from scipy import stats
import statsmodels. api as sm

In [16]:
#Anova test

In [17]:
df=pd.read_csv("LabTAT.csv")

In [18]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [19]:
df.sample(5)

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
40         175.50        186.49        189.61        157.02
101        178.52        198.09        213.29        197.98
41         169.55        171.31        203.58        154.55
89         176.93        168.51        207.60        187.08
104        190.32        184.86        180.93        167.27

In [20]:
df.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [21]:
df.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [22]:
pval=stats.f_oneway(df["Laboratory 1"],df["Laboratory 2"],df["Laboratory 3"],df["Laboratory 4"])[1]

In [23]:
ho= "All have same mean"
ha= " At least one has different mean"

In [24]:
alpha=0.05

In [25]:
pval

2.1156708949992414e-57

In [26]:
def check_hypothesis(p_val,alpha_val):
    if p_val <= alpha_val:
        return "Reject Ho Accept Ha"
    else:
        return "Reject Ha Accept Ho"

In [27]:
print(check_hypothesis(pval,alpha))

Reject Ho Accept Ha

In [29]:
ha

' At least one has different mean'